apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable?ref=0b0cbaf9b3082edd724a90b6760c587d4ba61ffc # v1.55.0

patches:
  - path: controller-patch.yaml
  - path: node-args-patch.yaml
  - path: node-liveness-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRole
      name: ebs-external-provisioner-role
    path: ebs-external-provisioner-role-patch.yaml
