# upstream values.yaml file
# https://github.com/falcosecurity/charts/blob/master/charts/falco/values.yaml

# more info about values
# https://github.com/falcosecurity/falco/blob/master/falco.yaml

# -- Attach the Falco process to a tty inside the container. Needed to flush Falco logs as soon as they are emitted.
# Set it to "true" when you need the Falco logs to be immediately displayed.
tty: true

driver:
  # memory issue with 0.42.1 and "modern-bpf"
  # https://github.com/falcosecurity/falco/issues/3643
  # https://github.com/falcosecurity/falco/issues/3733
  kind: ebpf
  loader:
    initContainer:
      securityContext:
        privileged: true

# Collectors for data enrichment (scenario requirement)
collectors:
  containerEngine:
    # -- engines specify the container engines that will be used to collect metadata.
    engines:
      podman:
        enabled: false
      containerd:
        enabled: false
      cri:
        enabled: true
        sockets: ["/run/containerd/containerd.sock", "/run/crio/crio.sock"]
      lxc:
        enabled: false
      libvirt_lxc:
        enabled: false
      bpm:
        enabled: false

falco:
  json_output: true
  metrics:
    enabled: true

falcosidekick:
  enabled: false
