apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: otel

resources:
  - ../upstream
  - certs.yaml
  - kafka-exporter.yaml

patches:
  - path: opslevel.yaml
  - path: refresh-certs.yaml

images:
  - name: kafka-exporter
    newName: danielqsj/kafka-exporter
    newTag: v1.9.0
  - name: docker.io/bitnami/kafka
    newName: registry.uw.systems/bitnami/kafka
  - name: docker.io/bitnami/jmx-exporter
    newName: registry.uw.systems/bitnami/jmx-exporter
