apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# gcp-compute-persistent-disk-csi-driver puts everything under a namespace
# called `gce-pd-csi-driver` and put Cluster scoped resources under the same
# base. Add an additional overlay to hack the ns and put everything under
# kube-system to play with the method we apply cluster resources via KA
namespace: kube-system

# Use a commit ref instead of tag, as images do not follow tags in the repo
# manifests.
# commit is for release: v1.23.3
# image in the commit: v1.17.4
resources:
  - github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/deploy/kubernetes/overlays/stable-master?ref=f265ccbc7e40a288cfa28347daa3ccb81e74ccdd

patches:
  - path: csi-gce-pd-controller-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRole
      name: csi-gce-pd-provisioner-role
    path: csi-gce-pd-provisioner-role-patch.yaml
